extend layout

block content
  #dashboard.snowy-mountains.movable
    .snow
    #viewport
      #left.navigation
      #right.navigation
    .protagonist.character.opposite

    .bot-249AD.character.target
      ul.actions
        li.talk
