extend layout

block content
  #dashboard
    #extra
    #viewport
      #userbar
        a(href='#', class='inventory') Inventory
      .cloudy
        .cloudy-content
        a(href='#', class='close') x
      #left.navigation
      #right.navigation
      #talk
    .protagonist.character.opposite
